save/
data/
old codes/
other codes/

# Ignore Python bytecode files
*.pyc
*.pyo
*.pyd

# Ignore all __pycache__ directories recursively
__pycache__/

# Ignore virtual environments
.venv/
venv/
env/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore macOS system files
.DS_Store

# Ignore JetBrains IDE project-specific settings
.idea/

# Ignore HPC job output and error files
*.err
*.out